<%- include("partials/header") -%>
<center><h1>Recently Created Snippets</h1></center>

<% for(var i=0;i<objects.length;i++){%>
  <h1><%= objects[i].title %></h1>
  <p>
    <%= objects[i].content.substring(0,100)+"....." %>
    <a href="<%= objects[i].url %>">Read More</a>
  </p>
  <%}%> <%- include("partials/footer") -%>
</posts.length;i++){%>
